
  // Transform
  {
    if(!override_transform)
    {
      Core::Entity_component::set_transform(
        entity,
        Core::Transform(
          {{name.downcase}}_default_position(),
          {{name.downcase}}_default_scale(),
          math::quat_init() // todo
        )
      );
    }
    else
    {
      Core::Entity_component::set_transform(
        entity,
        *override_transform
      );
    }
  }
