
  // Transform
  {
    if(!override_transform)
    {
      Core::Entity_component::set_transform(
        entity,
        Core::Transform(
          math::vec3_init({{trans_position}}),
          math::vec3_init({{trans_scale}}),
          math::quat_init() // todo
        )
      );
    }
    else
    {
      Core::Entity_component::set_transform(
        entity,
        *override_transform
      );
    }
  }
