
  // Setup Renderer
  {
    char filepath[2048];
    memset(filepath, 0, sizeof(filepath));
    Core::Directory::resource_path(filepath);
    strcat(filepath, \"{{mesh_file}}\");

    Core::Material_renderer renderer(
      Factory_material::create(
        Factory_material::get_id(\"{{renderer_mat_name}}\")
      ),
      Core::Model(filepath)
    );

    Core::Entity_component::set_renderer(
      entity,
      renderer
    );
  }
