
/*
  Warning
  --
  This file is auto generated, changes here may be overwritten.
*/

#ifndef {{name}}_MODULE_{{guid}}
#define {{name}}_MODULE_{{guid}}


% models.each do |m|

% end


#endif // inc guard
